/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */
/* Remove padding from .swiper */
.mySwiper {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

/* Adjust the dimensions of .swiper-slide */
.mySwiper .swiper-slide {
  width: auto; /* Allow slides to size themselves based on content */
  height: auto; /* Allow slides to size themselves based on content */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

/* Make sure the images inside slides fill the slide container */
.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire slide */
}
